.video-card {
    margin-bottom: 40px;
    width: 380px;
}

.video-card-thumbnail {
    height: 202px;
    width: 360px;
}

.video-card-info {
    display: flex;
    margin-top: 8px;
    padding-right: 30px;
}

.video-card-info-text {
    margin-left: 12px;
}

.video-card-info-text > h4 {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 5px;
    color: #fff;
}

.video-card-info-text > p {
    font-size: 15px;
    font-weight: 400;
    color: #aaa;
}

.video-card-info-avatar {
    height: 40px !important;
    width: 40px !important;
}
